*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin: 1.25rem;
}
body{
    background-color: green;
}
#container{
    padding: 10px;
    margin: 0 auto;
    width: 61.25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.box{
    margin: .3125rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    color: white;
}
.fizz{
    background-color: blue;
}
.buzz{
    background-color: aqua;
}
.fizzbuzz{
    background-color: blueviolet;
}