*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin: 1.25rem;
}

#container{
    margin: 0 auto;
    width: 61.25rem;
    display: flex;
    justify-content: center;
    background-color: black;
}
.box{
    width: 4.375rem;
    height: 4.375rem;
    display: flex;
    justify-content: center;
    background-color: orange;
    color: white;
}
.fizz{
    background-color: blue;
}
.buzz{
    background-color: aqua;
}
.fizzbuzz{
    background-color: blueviolet;
}